*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
}

/* MENU NAV______________________MENU NAV________________________________ */
nav {
    border-radius: 10px;
    text-align: center;
    margin: 30px;
    padding: 15px;
    background-color: rgba(240, 255, 255, 0.334);
    color: rgb(9, 9, 9);
    text-shadow: 0px 0.5px 0.8px #6e6a6a;
}


/* CONTAINER___________________CONTAINER_________________ */
.container {
    display: flex;
    margin: 30px;
}


/* SOBRE________________________SOBRE_______________________________________ */
.info {
    border-radius: 10px;
    padding: 18px;
    text-align: center;
    background-color: rgba(240, 255, 255, 0.334);
    margin: 0px;
    width: 20%;

}

.info p {
    color: rgb(9, 9, 9);
    text-shadow: 0px 0.5px 0.8px #6e6a6a;
}

.info img {
    width: 180px;
    border-radius: 40px;
    padding: 20px;
    
}

/* LOGIN__________________________________LOGIN_________________________________ */
.login {
    border-radius: 10px;
    margin-left: 30px;
    width: 80%;
    height: 480px;
    color: rgb(9, 9, 9);
    text-shadow: 0px 0.5px 0.8px #6e6a6a;
    background-color: rgba(240, 255, 255, 0.334);
}

.tela {
    padding: 0px;
    text-align: center;
    margin-top: 140px;

    
}
#input-nome {
    border-radius: 3px;
    height: 20px;
    width: 156px;
}


#input-senha {
    border-radius: 3px;
    height: 20px;
    width: 156px;
}

.tela button {
    border-radius: 5px;
    cursor: pointer;
    width: 160px;
    height: 40px;
}

.tela h1 {
    padding-bottom: 20px;
    text-align: center;
}




/* MENU FOOTER ________________FOOTER _______________FOOTER_____ */
footer {
    border-radius: 10px;
    margin: 30px;
    padding: 15px;
    background-color: rgba(240, 255, 255, 0.334);
    color: rgb(9, 9, 9);
    text-shadow: 0px 0.5px 0.8px #6e6a6a;
}